.prices {
    padding-top: 125px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-auto-rows: auto;
        row-gap: 30px;
        margin: 0 50px;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__item {
        &__header {
            display: flex;
            justify-content: space-between;
            padding-left: 25px;
            @include before_circle;
            position: relative;
            z-index: 2;
            padding-top: 2px;
            font-size: 14px;
            font-weight: 700;
            &:before {
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 15px;
                height: 15px;
                background: $main-color;
            }
        }
        &__body {
            font-size: 12px;
            margin-top: 5px;
            padding-left: 25px;
        }
    }
}