.resume {
    padding-top: 125px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        padding:0 70px;
        padding-top: 60px;
        column-gap: 135px;
        justify-content: center;
    }
    &__column {
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: "";
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            height: 1px;
            width: 45px;
            position: absolute;
            background: #000;
            top: 68px;
        }
        &-head {
            padding: 45px 0 0 100px;
            position: relative;
            h4 {
                margin: 0;
            }  
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;

        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
    }
}