.testimonials {
  padding: map-get($spacings, 6) 0;
  
  &__title {
    text-align: center;
    margin-bottom: map-get($spacings, 5);
  }
  
  &__slider {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  &__track {
    display: flex;
    @include transition(transform);
  }
  
  &__slide {
    min-width: 100%;
    flex-shrink: 0;
  }
  
  &__quote {
    text-align: center;
    padding: map-get($spacings, 4);
    margin: 0;
    font-style: italic;
    
    p {
      font-size: 1.25rem;
      margin-bottom: map-get($spacings, 3);
    }
    
    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: map-get($spacings, 1);
    }
  }
  
  &__author {
    font-weight: 600;
    font-style: normal;
  }
  
  &__position {
    color: $secondary-color;
    font-size: 0.9rem;
    
    .dark-theme & {
      color: rgba($text-dark, 0.7);
    }
  }
  
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $bg-light;
    border: 1px solid $border-light;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    @include flex-center;
    @include transition(background-color, border-color);
    z-index: 1;
    
    .dark-theme & {
      background-color: $bg-dark;
      border-color: $border-dark;
    }
    
    &:hover {
      background-color: $bg-secondary-light;
      
      .dark-theme & {
        background-color: $bg-secondary-dark;
      }
    }
  }
  
  &__prev {
    left: map-get($spacings, 2);
  }
  
  &__next {
    right: map-get($spacings, 2);
  }
}

